body {
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

#left-side-bar {
    background-image: linear-gradient(to right, rgb(254, 31, 31) , rgb(178, 13, 193));
}

#my-photo {
    margin-bottom: 5em;
    width: 22em;
}