body {
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

#left-side-bar {
    height: 100%;
  width: 23em;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: transparent;
  overflow-x: hidden;
  padding-top: 20px;
  justify-content: center;
  text-align: center;
  box-shadow: 3px 3px 3px rgb(198, 198, 198);
}

#my-photo {
    margin-top: 5em;
    margin-bottom: 1em;
    width: 17em;
    opacity: 0.8;
}

#contact-info {
    line-height: 2;
}

.fab {
    margin-top: 1.5em;
}

#socials {
    margin-right: 1em;
}

#top-bar {
    background-image: linear-gradient(to right, #279cba, #5C258D);
    top: 0;
    width: 150%;
    margin-left: 23em;
    height: 22em;
    color: white;
}

.top-bar-name {
    padding-top: 4em;
    margin-left: 2em;
    font-family: 'Josefin Sans', sans-serif;
}

#my-name{
    font-size: 4em;
}

#top-bar-links {
    margin-left: 2em;
    margin-top: 3em;
}

a.top-bar-link {
    color: white;
}

#all-info{
    margin-top: 4em;
    margin-left: 30em;
}

#contact-title, #about, #education {
    color: #279cba;
}

#about-paragraph {
    line-height: 25px;
}

#current-role, #previous-roles {
    padding-top: 2em;
    color: #279cba;
}

.list-text {
    line-height: 2;
    font-size: 1.1em;
}

.bottom-spacing {
    padding-bottom: 1em;
}