body {
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Montserrat', sans-serif;
}

.navbar-nav {
    list-style-type: none !important;
    padding-top: 3em;
}

#my-photo {
  display: inline;
  margin: 0 auto;
  margin-left: 10%; 
  margin-top: 5%;
  height: 45%;
  width: 45%;
  border-radius: 50%;
  opacity: 80%;
}

@media (max-width: 575.98px) and (max-width: 767.98px){
    #my-photo {
        width: 15em;
    }
}

.fab {
    margin-top: 1.5em;
}

#top-bar {
    background-image: linear-gradient(to right, #f13e3e, #e8e3ec);
    top: 0;
    background-color: rgb(247, 117, 117);
}

.top-bar-name {
    margin-left: 15em;
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 5em;
}

@media (max-width: 575.98px) and (max-width: 767.98px){
    .top-bar-name {
        margin-left: 1.5em;
    }  
  }


#my-name {
    font-size: 4em;
    padding-top: 2em;
}

@media (max-width: 575.98px) and (max-width: 767.98px){
    #my-name {
        font-size: 3em;
        padding-top: 1.2em;
    }
  }

#degree {
    font-size: 3em;
    margin-left: 0.2em;
    padding-bottom: 0.5em;
}

#personal-description {
    font-family: 'Montserrat', sans-serif;
    line-height: 2em;
    padding-bottom: 5em;
}

@media (max-width: 575.98px) and (max-width: 767.98px){
    #personal-description {
        margin-right: 3.5em;
        padding-bottom: 2em;
    }
  }

#top-bar-links {
    padding-top: 3em;
}

@media (max-width: 575.98px) and (max-width: 767.98px){
    #top-bar-links {
        margin-left: 2em;
    }
  }

a.top-bar-link {
    color: rgb(52, 52, 52);
    font-size: 0.8em;
    padding-left: 4em;
}

#all-info{
    margin-top: 4em;
    margin-left: 15em;
    margin-right: 15em;
}

@media (max-width: 575.98px){
    #all-info{
        margin-top: 4em;
        margin-left: 4em;
        margin-right: 4em
    }
  }

.logos {
    margin-top: 0.8em;
    height: 3em;
}

@media (max-width: 575.98px){
    .logos {
        margin-top: 0.8em;
        height: 3em;
    }
  }


#contact-title, #about, #education, #previous-roles {
    color: #ff5858;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3em;
    letter-spacing: 0.08em;
    margin-top: 1.5em;
}

#skills-section {
    padding-top: 5em;
}

@media (max-width: 575.98px){
    #skills-section {
        padding-top: 2em;
    }
  }

#skills-heading {
    color: #ff5858;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 7em;
    letter-spacing: 0.08em;
    margin-top: 0.2em;
}

@media (max-width: 575.98px){
    #skills-heading {
        font-size: 5em;
    }
  }

#skills-list {
    list-style-type: none;
}

#skills-description {
    font-family: 'Montserrat', sans-serif;
    line-height: 2em;
}

@media (max-width: 575.98px) and (max-width: 767.98px){
    #skills-description {
        margin-right: 3.5em;
    }
  }

.highlight{
    display: inline-block;
    padding: 0.7em 1.5em;
    background: #fefb61;
    color: black;
    font-size: 0.8em;
    font-weight: bold;
    letter-spacing: 0.1em;
    margin: 0.7em 0 0.7em 0;
}

#previous-roles {
    color: #ff5858;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3em;
    letter-spacing: 0.08em;
    padding-top: 1em;
}

.job-title {
    padding-top: 1.5em;
}

.short-job-description {
    line-height: 2em;
}

.collapsible {
    color: #ff5858;
    cursor: pointer;
    font-size: 15px;
  }
  
.collapsible:hover {
    font-size: 1.3em;
  }
  
.list-content {
padding: 3em;
display: none;
overflow: hidden;
background-color: #f9f9f9;
}

.list-text {
    line-height: 2;
}

.education-listing {
    padding-bottom: 1em;
    padding-top: 1em;
}

#contact-section {
    padding-left: 10%;   
    padding-top: 5em;
}

#red-border {
    border-top: solid 0.08em #ff5858;
    width: 70%;
}

#get-in-touch-heading {
    color: #ff5858;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5em;
    letter-spacing: 0.08em;
    line-height: 1.5em;
    margin-right: 2em;
    padding-bottom: 0.5em;
}

#contact-button {
    border: solid 0.1em #ff5858;
    color: #ff5858;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.2em;
    padding: 1em 3em 1em 3em;
    text-decoration: none;
}

#contact-button:hover {
    color: white;
    background-color: #ff5858;
  }


#contact-box {
    margin-top: 1em;
    height: 20em;
    box-shadow: 0 2px 6px 0 rgba(41, 41, 41, 0.2), 0 6px 20px 0 rgba(87, 87, 87, 0.19);
}

.contact-content {
    margin-left: 1.5em;
    padding-top: 1em;
    padding-bottom: 10em;
   }   

.contact-headings {
    color: #ff5858;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.08em;
    padding-top: 1.5em;
}

.contact-info {
    color: black;
    padding-top: 1em;
    text-decoration: underline;
}

.contact-info:hover {
    color: #ff5858;
}

#mailIcon {
    fill: #ff5858;
    margin-top: 0.5em;
    margin-right: 0.5em;
    margin-bottom: -0.5em;
}

#linkedinIcon {
    fill: rgb(117, 133, 223);
    margin-right: 0.5em;
    margin-bottom: -0.5em;
}

.parallax-effect {
    background-image: url("../images/background.png");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* .text {
    height: 1000px;
  } */